<%- include("inner-header") -%>
<style>
    h3{
        font-family: 'Montserrat';
        color: black;
        margin: 10px;
    }
    .btn-dark{
        display:flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    input{
        width: 50px;
    }
    form{
        margin: 5%;
    }
</style>


<div class="container-lg">
    <form action="/edit" method="POST">
        <h3>Update Your Profile</h3>
        <div class="mb-3">
          <input class="form-control" name="name" placeholder="Enter New Userame">
        </div>
        <div class="mb-3">
            <input class="form-control" name="bio" placeholder="Enter New Bio">
        </div>
        <% if (data.prob==="empty") { %>
            <div class="alert alert-danger" role="alert">
              Username already taken
            </div>
        <% } %>
        <% if (data.prob==="details") { %>
            <div class="alert alert-danger" role="alert">
              Enter all details
            </div>
        <% } %>
          <button type="submit" class="btn btn-dark mx-auto">Save Changes</button>
    </form>
</div>

<%- include("footer") -%>